<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name="static" file="/static_content.html" />

<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%inherit file="../main.html" />

<%block name="pagetitle">ผู้เข้าร่วมโครงการ</%block>
<style>
    .static-container #participants-section img {
        max-height: 200px;
        max-width: 200px;
    }

    #participants-section a {
        display: table-cell;
        width: 200px;
        height: 200px;
        padding: 20px;
        line-height: 200px;
        float: left;
    }
</style>

<section class="static-container faq">
    <h1>ผู้เข้าร่วมโครงการ</h1>

    <div class="primary-participants">
        <!-- #participants-section.metadata-block-wrapper -->
        <div id="participants-section" class="br-metadata-container">
            <ul>
                <li>
                    <a href="${reverse('princessit')}">
                        <img src="${static.url('themes/%s/images/logo-x-1-princess-it.png' % settings.THEME_NAME)}" alt="${_('Princess IT')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('most')}">
                        <img src="${static.url('themes/%s/images/logo-x-2-most.png' % settings.THEME_NAME)}" alt="${_('MOST')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('moe')}">
                        <img src="${static.url('themes/%s/images/logo-x-3-moe.gif' % settings.THEME_NAME)}" alt="${_('MOE')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('obec')}">
                        <img src="${static.url('themes/%s/images/logo-x-4-obec.png' % settings.THEME_NAME)}" alt="${_('OBEC')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('nstda')}">
                        <img src="${static.url('themes/%s/images/logo-x-5-nstda.png' % settings.THEME_NAME)}" alt="${_('NSTDA')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('sti')}">
                        <img src="${static.url('themes/%s/images/logo-x-6-sti.png' % settings.THEME_NAME)}" alt="${_('STI')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('ipst')}"> 
                        <img src="${static.url('themes/%s/images/logo-x-7-ipst.png' % settings.THEME_NAME)}" alt="${_('IPST')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('mwit')}">
                        <img src="${static.url('themes/%s/images/logo-x-8-mwit.png' % settings.THEME_NAME)}" alt="${_('MWIT')}">
                    </a>
                </li>
                <li>
                    <a href="${reverse('rspg')}">
                        <img src="${static.url('themes/%s/images/logo-x-9-rspg.png' % settings.THEME_NAME)}" alt="${_('RSPG')}">
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#participants-section.metadata-block-wrapper -->
    </div>
</section>
