/** End overwriting original css properties **/

#logo-description { font-size: 15px; color: white; font-weight: bold; }

#navigation-logo {
    min-height: 40px;
    max-height: 70px;
}

.br-metadata {
    margin-bottom: 0;
    padding-bottom: 0;
    min-width: 1200px;
    border-top: 5px #deaeea solid;
    background-color: #ce85e0;
}

.br-metadata-container {
    display: table;
    width: 1200px;
    min-width: 760px;
    margin: 5px auto 0;
    min-height: 100px;
}

.footage-menu {
    width: 100%;
}

.br-metadata-container a,
.br-metadata-container .metadata-block {
    /** color: white !important; **/
    text-decoration: none !important;
    clear: right;
}

.br-metadata-container .information {
    float: left;
    margin: 5px auto;
    font-size: 0.9em;
}

.br-metadata-container.br-small {
    min-height: 0;
    font-size: 0.6em;
}

.metadata-block-wrapper {
    display: block;
    float: left;
    width: 45%;
    text-align: right;
}

.metadata-block-wrapper:first-child {
    margin-left: 0;
    text-align: left;
    width: 55%;
}

.metadata-block-wrapper ul {
    margin: 0;
    padding: 0;
}

.links.meta-links {
    margin: 0;
    padding: 0;
    display: block;
    list-style-position: inside;
    list-style-type: none;
}
.links.medata-links li {
    display: inline-block;
    width: 100%;
}


.metadata-block {
    width: auto;
    margin: 10px 5px;
    font-size: .6em;
    line-height: 1.5em;
}

.br-small {
    font-size: .6em;
}

.metadata-block .logo-block,
.metadata-block .logo-block img {
    float: left;
    /**
    min-width: 20px;
    min-height: 20px;
    max-width: 100px;
    max-height: 80px;
    margin-left: 10px;
    **/
}

ul.links li {
    float: left;
    display: table-cell;
}

ul.links a {
    display: block;
    margin: 5px ;
}

/**
 * Logo
 **/
#participants-section {
    text-align: left;
    display: table;
    width: 100%;
    margin: 5px 0;
    padding: auto 0;
}
#participants-section img {
    max-height: 60px;
    max-width: 60px;
}

#participants-section ul {
    display: table;
    margin: 0 auto;
}

#participants-section li {
    display: table-cell;
    list-style-type: none;
    list-style-position: inside;
    float: left;
    margin: auto 10px;
}

#participants-section a {
    display: table-cell;
}

#participants {
    font-size: 70%;
    float: right;
}
