header.global .nav-global { margin-top: 14px; }

.find-courses header.search, .university-profile header.search { height: 460px; }

.home > header .title {
    margin: auto;
    width: 591px;
    display: table;
    float: none;
}

.home > header,
.find-courses header.search, .university-profile header.search {
    background: #ccc url('../images/cover-image.jpg') center no-repeat;
    background-size: cover;
    box-shadow: 0 10px 5px 0 rgba(0,0,0,0.2) inset, 
                0 0 0 0 black, 
                0 0 0 0 black, 
                0 -10px 10px 0 rgba(0,0,0,0.1) inset;
    transition: height .5s ease-in-out 0s;
    -webkit-transition: height .5s ease-in-out 0s;
}

header.global .primary > a { 
    background-color: #8a2aa2; 
    border: 1px solid #ce85e0;
}

header.global .user a.user-link .icon,
header.global .primary > a {
    color: white;
}

header.global,
.content-wrapper { 
    min-width: 1200px;
}

header.global { 
    background: #ba55d3; 
    height: 92px; 
    border-bottom: 1px solid #455115;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
}

.content-wrapper { 
    padding-bottom: 0;
    display: table;
}

header.global .nav-global li a, 
header.global .nav-global div a {
    color: white !important;
    text-decoration: none;
}

header.global .nav-global li a:hover, 
header.global .nav-global li a:focus, 
header.global .nav-global li a:active, 
header.global .nav-global div a:hover, 
header.global .nav-global div a:focus, 
header.global .nav-global div a:active {
    color: white;
    text-decoration: underline;
}

header.global .nav-courseware li .cta, 
header.global .nav-courseware div .cta, 
.login .form-actions button[type="submit"], 
.register .form-actions button[type="submit"], 
.passwordreset .form-actions button[type="submit"], 
#forgot-password-modal #password-reset .form-actions button[type="submit"], 
.view-survey .action-primary, 
.view-partial-mktgregister .action.action-register, 
.view-partial-mktgregister .action.access-courseware {
      box-shadow: 0 2px 1px 0 #451551;
}

header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware, header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware, header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware
{
    background: #681f7a;
}

header.global .nav-courseware li .cta:hover, header.global .nav-courseware div .cta:hover, .login .form-actions button[type="submit"]:hover, .register .form-actions button[type="submit"]:hover, .passwordreset .form-actions button[type="submit"]:hover, #forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, .view-survey .action-primary:hover, .view-partial-mktgregister .action.action-register:hover, .view-partial-mktgregister .action.access-courseware:hover, header.global .nav-courseware li .cta:active, header.global .nav-courseware div .cta:active, .login .form-actions button[type="submit"]:active, .register .form-actions button[type="submit"]:active, .passwordreset .form-actions button[type="submit"]:active, #forgot-password-modal #password-reset .form-actions button[type="submit"]:active, .view-survey .action-primary:active, .view-partial-mktgregister .action.action-register:active, .view-partial-mktgregister .action.access-courseware:active, header.global .nav-courseware li .cta:focus, header.global .nav-courseware div .cta:focus, .login .form-actions button[type="submit"]:focus, .register .form-actions button[type="submit"]:focus, .passwordreset .form-actions button[type="submit"]:focus, #forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, .view-survey .action-primary:focus, .view-partial-mktgregister .action.action-register:focus, .view-partial-mktgregister .action.access-courseware:focus
{
    background: #deaeea;
}

header .logo a,
header .logo a:hover {
    text-decoration: none;
}

header.global .nav-global { margin-top: 25px; }
header.global .nav-courseware { margin-top: 18px; }

/**
 * Class box
 **/

.courses-container {
    /** box-shadow: 0 0 30px 0 rgba(0,0,0,1); **/
}

.courses-container .courses .course {
    border-bottom: 3px solid #da55b3;
    /**
    box-shadow: 3px solid #da55b3;
    box-shadow: 0 1px 10px 0 rgba(206,133,224,0.125),inset 0 0 0 1px rgba(255,255,255,0.75); **/
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}

.courses-container .courses .course:hover .cover-image::before, 
.courses-container .courses .course:focus .cover-image::before {
    background-color: #ce85e0;
}

.courses-container .courses .course .course-info {
    background-color: rgba(0,0,0,0.04);
}

.highlighted-courses .courses .course:hover, 
.highlighted-courses .courses .course:focus, 
.find-courses .courses .course:hover, 
.find-courses .courses .course:focus {
    border-bottom: 3px solid #ba55d3;
    box-shadow: 0 1px 16px 0 rgba(206, 133, 224, 0.4);
}
/**
 * End class box
 **/

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus {
    box-shadow: 0 0 6px 0 #ce85e0,inset 0 0 4px 0 rgba(0,0,0,0.15);
}

.container.activation h1.valid, section.activation.outside-app h1.valid, .activation.wrapper-account-settings h1.valid, .view-profile .profile-self .wrapper-profile-field-account-privacy .activation.u-field-account_privacy h1.valid, .view-profile .activation.wrapper-profile-sections h1.valid, .container.unsubscribe h1, section.unsubscribe.outside-app h1, .unsubscribe.wrapper-account-settings h1, .view-profile .profile-self .wrapper-profile-field-account-privacy .unsubscribe.u-field-account_privacy h1, .view-profile .unsubscribe.wrapper-profile-sections h1 {
    background: #8a2aa2 none repeat scroll 0% 0%;
    border: 1px solid #230a29;
}

