@media (max-width: 979px) and (min-width: 769px) {
    .br-metadata-container {
        width: 100%;
    }
    .metadata-block-wrapper {
        width: 45%;
    }

    .metadata-block-wrapper:first-child {
        width: 55%;
    }

    header.global,
    .content-wrapper,
    .br-metadata-container,
    .br-metadata,
    .br-metadata-container { 
        min-width: 769px;
        max-width: 979px;
    }
}

@media screen and (max-width: 768px) and (min-width: 541px) {
    .home>header,
    .home>header .outer-wrapper,
    header.global,
    .content-wrapper,
    .br-metadata-container,
    .br-metadata,
    .br-metadata-container { 
        min-width: 541px;
        max-width: 768px;
    }

    header.global nav {
        min-width: 0;
    }

    header.global .nav-global {
        display: none;
    }

    .home>header .outer-wrapper { width: auto; }

    .br-metadata-container,
    .br-metadata-container .br-small {
        width: 100%;
    }
    .metadata-block-wrapper {
        width: 100%;
        clear: both;
        text-align: left !important;
    }

}


@media screen and (max-width: 540px) {
    .nav-courseware {
        display: none;
    }
    .home>header { 
        height: 15px;
        animation-name: coverpanel;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        -webkit-animation-name: coverpanel;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-duration: 2s;
    }

    .home>header .outer-wrapper,
    header.global,
    .content-wrapper,
    .br-metadata-container,
    .br-metadata,
    .br-metadata-container { 
        max-width: 540px;
        min-width: 0;
    }

    header.global nav {
        min-width: 0;
    }

    header.global .nav-global {
        display: none;
    }

    .metadata-block-wrapper {
        width: 100%;
    }

    .br-metadata-container,
    .br-metadata-container .br-small {
        width: 100%;
    }
    .metadata-block-wrapper {
        width: 100%;
        clear: both;
        text-align: left !important;
    }
}

@media screen and (max-width: 539px) and (min-width: 360px) {

    .home>header .outer-wrapper {
        width: 338px;
        max-width: 517px;
        min-width: 0;
    }

}

@media screen and (max-width: 337px) {
    .home>header {
        width: 300px;
    }

    .home>header .outer-wrapper {
        width: 315px;
        max-width: 517px;
        min-width: 0;
    }

    .find-courses, .university-profile {
        width: 320px;
        height: 25px;
        display: table;
    }

    .find-courses .search { 
        display: none;
    }
}
