## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<%namespace name="static" file="/static_content.html" />

<%inherit file="../../main.html" />

<%block name="pagetitle">คลังทรัพยากรสารสนเทศด้านการเกษตร</%block>
<style>
    #filterx {
        display: table;
        width: 100%;
        max-height: 1500px;
        min-height: 740px;
    }
    .zoning { 
        padding: 60px 0 0;
    }
    .what2grow-header-wrapper {
        background: #fff url('/static/themes/bloody-rose/images/what2grow-background.png');
        background-size: cover;
        height: 304px;
        margin-top: -60px;
        width: 100%;
        position: relative;
    }
    .what2grow-header-wrapper h1 {
        color: #fff;
        font-size: 35px;
        padding-left: 240px;
        padding-right: 10px;
        line-height: 200px;
    }
    .what2grow-logo {
        display: inline-block;
        position: absolute;
    }
    .what2grow-logo img {
        /** max-width: 120px; **/
    }
    .what2grow-vegetable {
        position: absolute;
        right: 20px;
        bottom: 10px;
    }
    .what2grow-vegetable img {
        max-height: 120px;
        max-width: 400px;
    }
    .content-body,
    .content {
        font-size: 16px;
        line-height: 1.2em;
    }
    .content h2 {
        font-size: 1.6em;
    }
    .with-p {
        margin-bottom: 2em;
        display: table;
    }
    .content-wrapper {
        display: table;
    }
    .content-video {
        float: left;
        margin: 0 20px;
    }
    .what2grow-footer-logo {
        background: #fff url('/static/themes/bloody-rose/images/what2grow-empty-background.png');
    }
    .what2grow-footer-wrapper {
        display: table;
        background: #fff url('/static/themes/bloody-rose/images/what2grow-empty-background.png');
        background-size: cover;
        width: 100%;
        position: relative;
    }
    .what2grow-footer-wrapper img {
        float: right;
        padding: 10px;
    }
</style>
<section class="static-container zoning">
    <div class="what2grow-header-wrapper with-p">
        <div class="what2grow-logo">
            <a href="http://www.what2grow.in.th/tlogin/index.php" target="_blank">
                <img src="${static.url("themes/%s/images/what2grow-logo.png" % settings.THEME_NAME)}" alt="what2grow">
            </a>
        </div>
        <div class="what2grow-vegetable">
            <img src="${static.url("themes/%s/images/what2grow-vegetable.png" % settings.THEME_NAME)}" alt="Vegetable">
        </div>
        <h1>คลังทรัพยากรสารสนเทศด้านการเกษตร</h1>
    </div>

    <%doc>
    <div class="content-body with-p">
        <div class="content with-p">
            <p>การบูรณาการข้อมูลองค์ความรู้ของเกษตรกรไทยผ่านคลังทรัพยากรสารสนเทศ เริ่มจากกระบวนการเก็บรวบรวมข้อมูลภูมิปัญญาของเกษตรกรไทยอย่างเป็นระบบผ่านเครือข่ายพันธมิตรทั้งข้อมูลที่อยู่ในรูปแบบ เอกสารทั่วไป สื่อมัลติมีเดีย หรือกระบวนการถ่ายทอดสดผ่านกิจกรรมภาครัฐและชุมชนเพื่อให้สามารถเข้าถึงกลุ่มเป้าหมายที่กว้างขวางมากยิ่งขึ้น</p>
            <p>องค์ความรู้ของเกษตรกรไทยจะถูกจัดเก็บอย่างเป็นระบบในคลังทรัพยากรสารสนเทศของเกษตรกร   ซึ่งสามารถบูรณาการองค์ความรู้และประยุกต์ใช้งานผ่านงานวิจัยทางด้านการเรียนรู้เช่น e-Learning การสืบค้นตามพื้นที่ของชุมชน การมีเครือข่ายสังคมการเรียนรู้ออนไลน์ เป็นต้น โดยนำเสนอในรูปแบบที่เกษตรกรและประชาชนทั่วไปสามารถเข้าถึงได้ง่ายและสะดวกที่สุด ทั้งนี้คลังทรัพยาการสนเทศของเกษตรกรนี้ยังสามารถประยุกต์องค์ความรู้ในการเผยแพร่เพื่อเพิ่มประสิทธิภาพการใช้ประโยชน์ที่ดินด้านการเกษตรได้</p>
        </div>
        
    </div>
    </%doc>

    <iframe id="filterx" class="content-body with-p" src="http://mooc.learn.in.th/micro.php?affiliate=nectecx" frameborder="0"></iframe>

    <div class="what2grow-footer-wrapper">
        <img src="${static.url("themes/%s/images/what2grow-footer-logo.png" % settings.THEME_NAME)}" />
    </div>
</section>
