<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<!--bxslide-->
<script type="text/javascript" src="/static/bxslide/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/bxslide/jquery.bxslider.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bxslide/jquery.bxslider.css" />

<!--hightchart-->
<script language="javascript" src="/static/highcharts3/highcharts.js"></script>
<script language="javascript" src="/static/highcharts3/highcharts-more.js"></script>
<script language="javascript" src="/static/highcharts3/chartFunction.js"></script>
<script language="javascript" src="/static/highcharts3/exporting.js"></script>
<script language="javascript" src="/static/highcharts3/modules/solid-gauge.js"></script>

<!--jquery cookie-->
<script language="javascript" type="text/javascript" src="/static/js/jquery.cookie.js"></script>

<!--angular js-->
<script language="javascript" type="text/javascript" src="/static/js/angular.min.js"></script>

<!-- fancy box -->
<!-- Fancy box Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/static/fancybox_new/jquery.mousewheel-3.0.6.pack.js"></script>  

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/static/fancybox_new/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/static/fancybox_new/jquery.fancybox.css?v=2.1.5" media="screen" />

<!--bootstrap3-->
<script language="javascript" type="text/javascript" src="/static/bootstrap3/js/bootstrap.js"></script>
<link href="/static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">


<!--Set Style-->
<link rel="stylesheet" href="/static/set_style/courses/style/set_style.css" media="all">
<link rel="stylesheet" href="/static/set_style/courses/style/search_filter.css" media="all">


<section class="home">
  <header>
    <div class="outer-wrapper" style="padding-top:80px !important;">
      <div class="title">
        <hgroup>
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            % if self.stanford_theme_enabled():
              <h1>${_("Free courses from <strong>{university_name}</strong>").format(university_name="Stanford")}</h1>
              <h2>${_("For anyone, anywhere, anytime")}</h2>
            % else:
              ## Translators: 'Open edX' is a brand, please keep this untranslated. See http://openedx.org for more information.
              <h1>${_("Welcome to Open edX!")}</h1>
              ## Translators: 'Open edX' is a brand, please keep this untranslated. See http://openedx.org for more information.
              <h2>${_("It works! This is the default homepage for this Open edX instance.")}</h2>
            % endif
          % endif
        </hgroup>

      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
  </header>

    <section class="container" ng-app="indexApp" ng-controller="indexController">
    <section class="highlighted-courses" style="margin-bottom:0px; margin-top:30px;">
      <div style="border-bottom:2px solid #ba55d3; margin-bottom: 20px;">
        <h2>New Courses</h2>
      </div>
      <div class="row">
        <div class="grid">
          
          <div class="col-md-4 col-sm-4" ng-repeat="data in useData">
              <div class="sbox">
                  <div class="fix-img">
                    <a href="{{data.detail}}">
                        <img src="{{data.image_url}}" alt="alt" class="img-responsive"/>
                    </a>
                  </div>
                  <div class="list_tag">
                      <img src="/static/set_style/courses/images/tag.png"/>
                  </div>
                  <div class="bbox">
                      <p>รหัส : {{data.course}}</p>
                      <p>ชื่อรายวิชา : {{data.title}}</p>
                      <p>หน่วยงาน : <span class="badge">{{data.org}}</span></p>
                      <p>เริ่ม : {{data.start}}</p>
                  </div>
              </div>
          </div>

        </div>
      </div>

    </section>

    <section style="margin-bottom:40px;">
        <style>
            .left_chart, .right_chart{
                width: 50%;
                float: left;
            }
			
			.ct{
				min-height:300px;
				min-width: 150px;
			}
			
			.set_title_chart {
				background-color: #7b55d3;
				color: #fff;
				font-size: 16px;
				padding: 10px !important;
			}
			
			.border_graph {
				border: 1px solid #7b55d3;
			}
			
			#fullchart{
				width: 800px;
			}
			
			.expand{
				cursor: pointer;	
			}
			
			.icon_expand{
				float:right;
				width: 16px;
			}
        </style>
        <div class="left_chart">
			<div class="ct" style="margin-right:10px;">
            	<div class="set_title_center expand set_title_chart border_graph" rel="chart-1"  title="คลิกเพื่อขยายกราฟ">
					ข้อมูลคอร์สเรียนจำแนกตามสาขาวิชา
                    <img class="icon_expand" src="/static/icon_expand.png"/>
                </div>
                <div class="border_graph" id="chart-1" data="" cat="" chart-type="donut" amount="" name="by_type" title="ข้อมูลคอร์สเรียนจำแนกตามสาขาวิชา" style="height: 300px;" >
                </div>
            </div>
        </div>
        <div class="right_chart">
			<div class="ct" style="margin-left:10px;">
            	<div class="set_title_center expand set_title_chart border_graph" rel="chart-2"  title="คลิกเพื่อขยายกราฟ">
                    ข้อมูลคอร์สเรียนจำแนกตามระดับชั้น
                    <img class="icon_expand" src="/static/icon_expand.png"/>
                </div>
                <div class="border_graph" id="chart-2" data="" cat="" chart-type="donut" amount="" name="by_type" title="ข้อมูลคอร์สเรียนจำแนกตามระดับชั้น" style="height: 300px;" >
                </div>
            </div>
        </div>
		<div style="clear:both"></div>
        <!-- full chart -> -->
        <div id="full-wrap">
        	<div id="fullchart" name="fullchart"></div>
        </div>

        <script>
            $(function(){

            	ShowDate();

                $.getJSON( "aggregate.php", function( data ) {
                    renderBox = 'chart-1';
                    amount = $('#' + renderBox).attr('amount');

                    $('#' + renderBox).attr('cat',data.subject.cat);
                    $('#' + renderBox).attr('data',data.subject.data);

                    if ($('#' + renderBox).attr('cat') != '') {
                        eval("cat = new Array('" + $('#' + renderBox).attr('cat') + "');");
                        donut('', cat, $('#' + renderBox).attr('data'), amount, '');
                    }

                    renderBox = 'chart-2';
                    amount = $('#' + renderBox).attr('amount');

                    $('#' + renderBox).attr('cat',data.level.cat);
                    $('#' + renderBox).attr('data',data.level.data);

                    if ($('#' + renderBox).attr('cat') != '') {
                        eval("cat = new Array('" + $('#' + renderBox).attr('cat') + "');");
                        donut('', cat, $('#' + renderBox).attr('data'), amount, '');
                    }

                });

				

            });

			function ShowDate()
			{
				var dNow = new Date();
				var monthNamesThai = ["มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤษจิกายน","ธันวาคม"];
				var utcdate= dNow.getDate() + ' ' + monthNamesThai[dNow.getMonth()] + ' ' + (dNow.getFullYear()+543);

				$('#chart-1').attr('title','ข้อมูลคอร์สเรียนจำแนกตามสาขาวิชา <br/>ณ วันที่ '+utcdate);
				$('#chart-2').attr('title','ข้อมูลคอร์สเรียนจำแนกตามระดับชั้น <br/>ณ วันที่ '+utcdate);
			}

        </script>

        <!-- full chart-->
        <script type="text/javascript">
			$(document).ready(function () {
		
				$('.expand').click(function () {
					var windowsize = $(window).width();
					if (windowsize > 750) {
						$('#fullchart').html('');
						element = $('#' + $(this).attr('rel'));
						$.fancybox(
								$('#full-wrap').html(),
								{
									'transitionIn': 'fade',
									'transitionOut': 'elastic',
									'showCloseButton': false,
									'scrolling': 'no',
									afterShow: function () {
										$('#full-wrap').html('');
										renderBox = 'fullchart';
										exporting = true;
										show_data_label = true;
										eval("cat = new Array('" + element.attr('cat') + "');");
										eval(element.attr('chart-type') + "('" + element.attr('title') + "', cat,'" + element.attr('data') + "', '');");
									},
									afterClose: function () {
										$('#full-wrap').html('<div id="fullchart"></div>');
									}
								}
						);
					}
				});
			});
		</script>

    <script>
      var ctl = angular.module("indexApp", []);
      ctl.controller('indexController', function ($scope, $http, $filter) {
          $http.get('jsonSearch.php?limit=12&order=1').
            success(function (data, status, headers, config) {
              $scope.useData = data;
          });
      });
    </script>
    </section>

  </section>

</section>

<section class="br-metadata-container">

    <!-- #participants-section.metadata-block-wrapper -->
    <div id="participants-section" class="br-metadata-container">
        <ul>
            <li>
                <a href="${reverse('princessit')}">
                    <img src="${static.url('themes/%s/images/logo-x-1-princess-it.png' % settings.THEME_NAME)}" alt="${_('Princess IT')}">
                </a>
            </li>
            <li>
                <a href="${reverse('most')}">
                    <img src="${static.url('themes/%s/images/logo-x-2-most.png' % settings.THEME_NAME)}" alt="${_('MOST')}">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="${static.url('themes/%s/images/logo-x-3-moe.gif' % settings.THEME_NAME)}" alt="${_('MOE')}">
                </a>
            </li>
            <li>
                <a href="${reverse('obec')}">
                    <img src="${static.url('themes/%s/images/logo-x-4-obec.png' % settings.THEME_NAME)}" alt="${_('OBEC')}">
                </a>
            </li>
            <li>
                <a href="${reverse('nstda')}">
                    <img src="${static.url('themes/%s/images/logo-x-5-nstda.png' % settings.THEME_NAME)}" alt="${_('NSTDA')}">
                </a>
            </li>
            <li>
                <a href="${reverse('sti')}">
                    <img src="${static.url('themes/%s/images/logo-x-6-sti.png' % settings.THEME_NAME)}" alt="${_('STI')}">
                </a>
            </li>
            <li>
               <a href="${reverse('ipst')}"> 
                    <img src="${static.url('themes/%s/images/logo-x-7-ipst.png' % settings.THEME_NAME)}" alt="${_('IPST')}">
                </a>
            </li>
            <li>
                <a href="${reverse('mwit')}">
                    <img src="${static.url('themes/%s/images/logo-x-8-mwit.png' % settings.THEME_NAME)}" alt="${_('MWIT')}">
                </a>
            </li>
            <li>
                <a href="${reverse('rspg')}">
                    <img src="${static.url('themes/%s/images/logo-x-9-rspg.png' % settings.THEME_NAME)}" alt="${_('RSPG')}">
                </a>
            </li>
        </ul>
        <div id="participants">
            <a href="${reverse('organization')}">หน่วยงานทั้งหมด</a>
        </div>
    </div>
    <!-- /#participants-section.metadata-block-wrapper -->
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
