<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name="static" file="/static_content.html" />

<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer id="site-metadata" class="br-metadata">

    <div class="br-metadata-container">

        <div id="footer-contact-section" class="metadata-block-wrapper">
            <div class="metadata-block">
                <a href="https://creativecommons.org/licenses/by-sa/4.0/">
                    <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt="${_("OER")}">
                </a>
            </div>
            <div class="metadata-block br-small">
                ${settings.PLATFORM_NAME} ${_('is licensed under a <br /><a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Attribution-ShareAlike 4.0 International License.">Creative Commons Attribution-ShareAlike 4.0 International License.</a>')}
            </div>
        </div>

        <div id="linker-section" class="metadata-block-wrapper">
            <div class="metadata-block br-small">
                สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ <br />
                111 อุทยานวิทยาศาสตร์ประเทศไทย ถนนพหลโยธิน <br />
                ตำบลคลองหนึ่ง อำเภอคลองหลวง <br />
                จังหวัดปทุมธานี  <br />
                12120
            </div>
            <div class="metadata-block br-small">
                โทรศัพท์ 0-2564-7000 โทรสาร 0-2564-7001-5  <br />
                Call Center 0-2564-8000
            </div>
            <div class="metadata-block">
                e-mail: <a href="mailto:info@nstda.or.th">info@nstda.or.th</a>
            </div>
        </div>
    </div>


    <!-- Footage with links -->
    <div class="br-metadata-container br-small">
        <ul class="links meta-links br-small footage-menu">

            <li id="tos-link">
                <a href="${reverse('tos')}" title="${_("Terms of Service")}">${_("Terms of Service")}</a>
            </li>

            <li id="privacy-link">
                <a href="${reverse('tos')}#privacy" title="${_("Privacy and Policy")}">${_("Privacy and Policy")}</a>
            </li>

            <li id="developer-link">
                <a href="${reverse('developer')}" title="${_("Developer")}">${_("Developer")}</a>
            </li>

            <li id="about-link">
                <a href="${reverse('about')}" title="${_("About")}">${_("About")}</a>
            </li>

        </ul>
    </div>
</footer>
