## mako
<%namespace name="static" file="/static_content.html" />

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68367751-1', 'auto');
    ga('send', 'pageview');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="${static.url('themes/%s/css/overwrite.css?v=0.1' % settings.THEME_NAME)}"/>
<link rel="stylesheet" href="${static.url('themes/%s/css/bundle.css?v=0.4' % settings.THEME_NAME)}"/>
<link rel="stylesheet" href="${static.url('themes/%s/css/responsive.css?v=0.1' % settings.THEME_NAME)}"/>

