## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<%namespace name="static" file="/static_content.html" />

<%inherit file="/navigation.html" />
<%block name="navigation_logo">
    <img id="navigation-logo" src="${static.url("themes/%s/images/logo.png" % settings.THEME_NAME)}" alt="${settings.PLATFORM_NAME}" />
    <span id="logo-description">${settings.PLATFORM_NAME}</span>
</%block>

<%block name="navigation_global_links">
    <li class="nav-global-04">
        <a href="${reverse('about')}">${_("About")}</a>
    </li>
</%block>
